{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

<div class="container-md mt-5">
<h2> Qui sommes nous ?</h2>
<p> Nous sommes une petite ferme du sud de la France. Notre spécialité le fromage de chèvre. Nos animaux sont élevé aux grand air et profitent des meilleurs alpages disponibles. Nos chèvres sont nouries avec des aliments bio et respectueux de notre écosystem</p> 

<h2 class="mt-3">Nos animaux</h2>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/twogoats.jpg" class="d-block img-thumbnail" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/goat.jpg" class="d-block img-thumbnail" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/springgoat.jpg" class="d-block img-thumbnail" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div></div>
{% endblock %}
