{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="title container-md mt-5"><h1>Bonjour et bienvenue !</h1></div>
  <div class="container mt-3">
        <img src="images/barn.jpg" class="d-block img-thumbnail" alt="barn">
  </div>
{% endblock %}
